.card {
  width: 300px;
  padding: 10px;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 6%, rgba(246,246,246,1) 22%, rgba(229,197,172,1) 54%, rgba(229,197,172,1) 72%, rgba(229,197,172,1) 90%);
  background: -webkit-gradient(left top, left bottom, color-stop(6%, rgba(255,255,255,1)), color-stop(22%, rgba(246,246,246,1)), color-stop(54%, rgba(229,197,172,1)), color-stop(72%, rgba(229,197,172,1)), color-stop(90%, rgba(229,197,172,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 6%, rgba(246,246,246,1) 22%, rgba(229,197,172,1) 54%, rgba(229,197,172,1) 72%, rgba(229,197,172,1) 90%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 6%, rgba(246,246,246,1) 22%, rgba(229,197,172,1) 54%, rgba(229,197,172,1) 72%, rgba(229,197,172,1) 90%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 6%, rgba(246,246,246,1) 22%, rgba(229,197,172,1) 54%, rgba(229,197,172,1) 72%, rgba(229,197,172,1) 90%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 6%, rgba(246,246,246,1) 22%, rgba(229,197,172,1) 54%, rgba(229,197,172,1) 72%, rgba(229,197,172,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5c5ac', GradientType=0 );
  Copy text
}

h3 {
  margin-top: 0px;
  margin-bottom: 8px;
}

.card,
.info {
  border: 1px solid black;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

img {
  border-radius: 5px;
}

.info {
  margin-top: 8px;
  padding: 5px;
  background: white;
  text-align: justify;
}

.fact {
  font-style: italic;
}

.list {
  list-style-type: none;
  padding: 0;
}

span {
  font-weight: bold;
}
